*.py[cod]
settings_local.py

# C extensions
*.so

# Virtualenv
venv
venv3

# Generated documentation
doc/_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# IDE
.project
.pydevproject
.idea
